<footer class="footer container-fluid bg-primary text-break">
  <div class="row">
    <div class="col-md-12 col-lg-1"></div>
    <div class="col-md-12 col-lg-7 content-text">
      <b>MARISCOS DE CANCHA DELICIAS DEL MAR</b> <br /><i class="fa fa-street-view" aria-hidden="true"></i>
      Saturno 50 Nuevo Progreso, 63782 Xalisco, Nay.<br />
      <i class="fa fa-phone" aria-hidden="true"></i> Teléfono 311-116-77-37<br />
      <i class="fa fa-globe" aria-hidden="true"></i> Servicio en Xalisco y Tepic Nayarit MX <br />
    </div>
    <div class="col-md-12 col-lg-4 footer-image">
      <img src="./img/mariscos_de_cancha_icon.png" width="191" height="72" alt="">
    </div>
  </div>
</footer>
