 <nav class="navbar navbar-expand-sm bg-primary">
  <div class="container">

    <div class="navbar-content">
      <div class="site-logo">
          <img class="escudo" src="./img/mariscos_de_cancha_icon.png" width="65" height="65" alt="">
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="social-medias collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="icons">
          <ol class="nav-item">
          <a class="nav-link" data-id="1">Inicio</a>
          </ol>

          <ol class="nav-item">
          <a class="nav-link" data-id="2">Menú</a>
          </ol>

          <ol class="nav-item">
          <a class="nav-link" data-id="3">Pedidos</a>
          </ol>

          <ol class="nav-item">
          <a class="nav-link" data-id="4">Productos especiales</a>
          </ol>
        </ul>
      </div>

    </div>
  </div>
</nav> 
